# DIRECTORIES

.vscode
src
tests
docs
versions

# BUILD FILES

tsconfig.json
tsup.config.ts

# MARKDOWN FILES

readme.md
changelog.md

# DOT FILES

.npmignore
.npmrc
.gitignore
.liquidrc
.pnpm-lock.yaml
.pnpm-debug.log