<header
  id="navbar"
  class="container-fluid navbar">
  <div class="row jc-between jc-sm-start ai-center bg-white w-100 pr-0">

    <input
      type="button"
      class="d-unset d-sm-none col-auto btn drawer-toggle ml-4">

    <a
      href="/"
      class="col-auto italic fc-white fs-lg pl-3 pr-0 logo">
      {% svg 'esthetic', 'icon icon-logo' %}
    </a>
    <div class="d-none d-sm-flex col-auto fs-xs pl-3 pr-5">
      <dropdown class="dropdown">
        <button type="button"> V {% version %}</button>
        <ul>
          <li></li>
        </ul>
      </dropdown>
    </div>


    {%
      liquid

      assign active = NIL
      assign navs = main.urls | map: 'url'
      assign rule = rules.urls | map: 'url',

      if navs contains page.url
        assign active = 1
      elsif rule contains page.url or page.url == '/rules/'
        assign active = 2
      else
        assign active = 3
      endif
    %}

    {% for link in navbar %}
      <a
        href="{{ link.url }}"
        title="{{ link.title }}"
        class="d-none d-sm-unset col-auto fw-bolder nav-link
         {% if forloop.first %} ml-auto {% endif %}
        {% unless forloop.index == active %} off{% endunless %}
      ">
        {{ link.title }}
      </a>
    {% endfor %}

    <a
      href="https://github.com/panoply/esthetic"
      class=" col-auto pr-0">
      {% svg 'github-2', 'icon icon-github' %}
    </a>
  </div>
</header>