{% for link in collections.all %}
  {% if link.url == page.url and link.data.prev and link.data.next %}

    <hr>

    <div class="row jc-between mt-1 navigators">
      <div class="col-auto">
        <a
          href="{{ link.data.prev.uri }}"
          class="btn pl-0">
          <span class="mr-2">
            {% svg 'chevron-left', 'icon icon-left' %}
          </span>
          {{ link.data.prev.label }}
        </a>
      </div>
      <div class="col-auto">
        <a
          href="{{ link.data.next.uri }}"
          class="btn pr-0">
          {{ link.data.next.label }}
          <span class="ml-2">
            {% svg 'chevron-right', 'icon icon-right' %}
          </span>
        </a>
      </div>
    </div>
  {% endif %}
{% endfor %}