<div
  class="row gx-0 parser"
  data-controller="parser">

  <div class="col-12">
    <h1>Parse Data Structure</h1>
  </div>

  <div class="col-5 br">
    <pre data-parser-target="input" style="--papyrus-height: 700px">
      <code class="language-liquid">
      </code>
    </pre>
  </div>

  <div
    class="col-7 parser-table"
    data-parser-target="output"
    style="height: 700px; overflow-y: scroll;"></div>

</div>