p + h1,
ul + h1,
pre + h1 {
  margin-top: 40px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $white;
  + p {
    margin-bottom: 20px;
  }
}

pre + h4 {
  margin-top: 40px;
}

h5 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: $font-family-other;
}

hr {
  margin: 40px 0 !important;
  padding: 0 20px;
}

ul {
  margin-bottom: 20px;
}

p {
  a {
    font-weight: 500;

    &:hover {
      color: $salmon;
    }
  }
}

h1 + ul,
h2 + ul,
h3 + ul,
h4 + ul,
p + ul {
  margin-bottom: 20px;

  li {
    list-style-type: square;
    margin-bottom: 5px;
    margin-left: $spacer-5;
    padding-left: $spacer-2;

    &::marker {
      color: $gray-500;
      font-weight: bold;
    }
  }
}

table {
  width: 100%;

  tr {
    border-bottom: $border-width solid #3d4956;
    line-height: 2.8;

    th {
      font-weight: $font-weight-bolder;
      font-size: 0.9rem;
      font-family: $font-family-other;
      text-transform: uppercase;
    }

    td {
      &:last-child {
        padding-right: 10px;
        font-size: 1.2rem;
        color: #198754;
        font-weight: 900;
      }
    }
  }
}

[data-tooltip] {
  &:after {
    text-transform: none;
  }
}

.content {
  margin-top: 75px;
}

.bg-info {
  background-color: #1e1f22;
  border-radius: 5px;
  border: 0.01rem solid #2d333a;

  text {
    font-family: $font-family-base;
    font-size: 16px !important;
  }
}

.config-cb {
  pre {
    height: 270px;
  }
}

.comments {
  pre {
    color: $papyrus-bash-comment !important;
  }
}
