.paginate {
  a {
    font-family: $font-family-other;
    color: $link-color;
    font-size: 0.75rem;
    padding: 10px 5px;
    text-align: center;

    &.prev {
      padding: 5px 20px 5px 10px;
    }

    &.next {
      padding: 5px 10px 5px 20px;
    }
    &:hover {
      color: $pink;
    }
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}
