code[class*='language-'],
pre[class*='language-'] {
  color: $white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace;

  text-shadow: 0 0.07rem rgb(0 0 0 / 90%);
  font-size: 0.94em;
  letter-spacing: 0.011rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  font-variant-ligatures: none;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

:not(pre) > code {
  background: #1d242b; // $code-inline-bg; // #efefef;
  padding: 0.1rem 0.5rem 0.15rem;
  border-radius: 0.3rem;

  color: $white; //#6eb2d3;

  font-size: 0.775rem;
  font-weight: 400;
  text-shadow: 0 0.04rem rgb(0 0 0);
  -webkit-font-smoothing: antialiased;
}

li > a {
  &::before {
    content: '–';
    color: $gray-600;
    margin-right: 10px;
  }
}

a {
  &:hover {
    code {
      color: $gray-500;
    }
  }
}
.editor-output {
  background-color: $code-bg;
  border-bottom: 1px solid $black;
  text-align: center;
  color: $code-bg;
  font-weight: 900;
  font-size: 0.8em;
  padding: 3px 14px;
  margin: 0 1.2rem 0px 0;
  margin-bottom: -3px;
  position: relative;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 9;
}

.swing {
  transform-origin: center;
  animation: swing 4s ease infinite;
}
@keyframes swing {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-1px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(4px);
  }
}

@keyframes flip {
  0%,
  100% {
    transform: rotateY(180deg) translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotateY(180deg) translateX(-4px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: rotateY(180deg) translateX(1px);
  }
}

.editor-tabs {
  margin-left: 0rem;
  margin-bottom: -3px;
  position: relative;

  button {
    background-color: $code-bg;
    color: $white;
    border: none;
    text-shadow: 0 1px rgb(0 0 0 / 30%);
    font-size: 0.7rem;
    opacity: 0.35;
    padding: 10px 14px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-transform: uppercase;

    &:hover {
      opacity: 1;
      color: $white;
    }

    &.selected {
      color: $gray-300;
      opacity: 1;
    }
  }
}

pre[class*='language-'] {
  padding: 1.5rem;
  margin: 0 1.2rem 40px 0;
  overflow: auto;
  border-radius: 4px;
  background: $code-bg; // #282a36;
  color: $white;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

  // [data-theme='dark'] & {
  //   color: var(--color-neutral-100);
  // }

  &.line-numbers-mode {
    padding-left: calc(1.5rem + 1.7em + 1.2rem);
  }
}

pre[class*='language-none'] {
  padding: 1rem;
}

.hide-scroll {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: $code-bg; // #282a36;
  border-radius: 0.3em;
  white-space: normal;
}

.token {
  &.selector,
  &.inserted {
    color: $green;
  }

  &.atrule,
  &.attr-value,
  &.keyword,
  &.important,
  &.deleted {
    color: $pink;
  }

  &.regex,
  &.statement {
    color: $cyan;
  }

  &.placeholder,
  &.variable {
    color: $white;
  }

  &.important,
  &.statement,
  &.bold {
    font-weight: bold;
  }

  &.punctuation {
    color: $white;
  }

  &.entity {
    cursor: help;
  }

  &.italic {
    font-style: italic;
  }

  &.namespace {
    opacity: 0.7;
  }

  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: #ccc;
  }

  &.operator,
  &.boolean,
  &.number {
    color: $purple;
  }

  &.attr-name,
  &.string,
  &.entity,
  &.url {
    color: $yellow;
  }
}

.language-bash {
  color: $white;

  .token {
    &.punctuation {
      color: $pink;
    }
    &.comment {
      color: #636363;
    }
  }
}

.language-css .token.string,
.style .token.string {
  color: $yellow;
}

code.language-javascript,
code.language-js {
  color: $white;

  .token {
    &.parameter-type,
    &.return-type,
    &.semi {
      color: $gray-300;
    }

    &.punctuation {
      color: $gray-400;
    }

    &.comment {
      color: $gray-600;
    }

    &.parameter-optional,
    &.parameter {
      color: $orange;
    }

    &.type-object,
    &.type-array {
      color: #30adc3;
    }

    &.types {
      color: $sea;
    }

    &.method,
    &.keyword,
    &.browser-objects,
    &.variable {
      color: $cyan;
    }

    &.op,
    &.tag,
    &.punctuation-chars,
    &.operator,
    &.module {
      color: $pink;
    }

    &.function {
      color: $green;
    }

    &.number {
      color: $salmon;
    }

    &.nil,
    &.boolean {
      color: $purple;
    }

    &.attr-name {
      color: $green;
    }

    &.attr-value {
      color: $yellow;
    }

    &.style {
      color: $cyan;
    }

    &.script {
      color: $cyan;

      .token.keyword {
        color: $cyan;
      }
    }
  }
}

code.language-html {
  color: $white;

  .token.grammar {
    color: $gray-300;
  }

  .token,
  .token.grammar {
    &.punctuation {
      color: #becaff;
    }

    &.comment {
      color: $gray-600;
    }

    &.tag {
      color: #ff93bc;
    }

    &.attr-name {
      color: #91ebc2;
    }

    &.attr-value {
      color: $yellow;
    }

    &.style {
      color: $cyan;
    }

    &.script {
      color: $gray-200;

      .token.function {
        color: $cyan;
      }

      .token.keyword {
        color: $cyan;
      }
    }

    &.liquid {
      &-comment {
        color: $gray-600;
      }

      &-boolean {
        color: #ff80f4;
      }

      &-number {
        color: #935eff;
      }

      &-parameter {
        color: #ff953c;
      }

      &-object {
        color: #81d4fa;
      }

      &-filter {
        color: #3defb9;
      }

      &-string {
        color: $yellow;
      }

      // PINK
      &-punctuation,
      &-operator,
      &-tagged,
      &-tag {
        color: $pink;
      }
    }
  }
}

code.language-bash {
  color: $white;
}

code.language-json {
  .token {
    &.property {
      color: $white;
    }

    &.operator {
      color: $red;
    }
  }
}

code.language-markup {
  color: $gray-200;

  .token {
    &.tag {
      color: $pink;
    }

    &.attr-name {
      color: $green;
    }

    &.attr-value {
      color: $yellow;
    }

    &.style {
      color: $cyan;
    }

    &.script {
      color: $cyan;

      .token.function {
        color: $cyan;
      }

      .token.keyword {
        color: $cyan;
      }
    }
  }
}

/* Line highlight plugin */

.line-numbers-wrapper {
  position: absolute;
  top: 0;
  left: 1.2rem;
  text-align: right;
  padding-top: 1.5rem;
  font-size: 1em;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace;
  line-height: 1.5;
  color: rgba(128, 128, 128, 0.783);
  font-variant-ligatures: none;

  .line-number {
    user-select: none;
    color: #3a3d44e0;
    display: inline-block;
    font-variant-numeric: tabular-nums;
    text-align: right;
    width: 1.2em;
    text-shadow: 0 0.06rem rgb(0 0 0);
  }
}

.token.tab:not(:empty),
.token.cr,
.token.lf,
.token.space {
  position: relative;
}

.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before,
.token.space:before {
  color: #808080;
  opacity: 0.6;
  position: absolute;
}

.token.tab:not(:empty):before {
  content: '\21E5';
}

.token.cr:before {
  content: '\240D';
}

.token.crlf:before {
  content: '\240D\240A';
}
.token.lf:before {
  content: '\240A';
}

.token.space:before {
  content: '\00B7';
}

.editor {
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 20px;
  padding: 10px;
  tab-size: 4;
  background-color: $code-bg;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

// .code-editor {
//   display: block;
//   position: relative;
//   background-color: $code-bg;
//   /* Allow other elems to be inside */
//   position: relative;
//   top: 0;
//   left: 0;
//   display: block;
//   /* Only scroll inside elems */
//   overflow: hidden;

//   /* Normal inline styles */
//   padding: 8px;
//   margin: 8px;
//   width: calc(100% - 16px);
//   height: 100vh;

//   font-size: normal;
//   font-family: monospace;
//   line-height: normal;
//   tab-size: 2;
//   caret-color: $white;
//   white-space: pre;

//   pre,
//   textarea {
//     /* Both elements need the same text and space styling so they are directly on top of each other */
//     margin: 0px !important;
//     padding: var(--padding, 16px) !important;
//     border: 0;
//     width: 100%;
//     height: 100%;
//   }
//   textarea,
//   pre,
//   pre * {
//     /* Also add text styles to highlighing tokens */
//     font-size: inherit !important;
//     font-family: inherit !important;
//     line-height: inherit !important;
//     tab-size: inherit !important;
//   }

//   textarea,
//   pre {
//     /* In the same place */
//     position: absolute;
//     top: 0;
//     left: 0;
//   }

//   /* Move the textarea in front of the result */

//   textarea {
//     z-index: 1;
//   }
//   pre {
//     z-index: 0;
//     background-color: $code-bg;
//   }

//   /* Make textarea almost completely transparent */

//   textarea {
//     color: transparent;
//     background: transparent;
//     caret-color: inherit !important; /* Or choose your favourite color */
//   }

//   /* Can be scrolled */
//   textarea,
//   pre {
//     overflow: auto !important;
//     white-space: inherit;
//     word-spacing: normal;
//     word-break: normal;
//     word-wrap: normal;
//   }

//   /* No resize on textarea; stop outline */
//   textarea {
//     resize: none;
//     outline: none !important;
//   }
// }
