.sidebar {
  // background-color: #fff;
  // position: fixed;
  margin-top: 52px;
  width: 320px;

  //left: 0;

  // border-color: $cyan;

  ul > li {
    list-style-type: none;

    a {
      font-size: 1rem;
      text-decoration: none;
    }
  }
}
