$code-font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
  monospace;

.papyrus {
  //border: 0.01em solid #363d49;
  margin-bottom: 0 !important;

  .error-footer {
    top: 0;
    bottom: unset;
  }

  .error-title {
    font-size: var(--papyrus-font-size);
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .error-message {
    white-space: normal;
    color: #888;
  }
}

a {
  &:hover {
    code {
      color: $gray-500;
    }
  }
}

.language-bash,
.language-treeview {
  padding: 20px !important;
}

.papyrus {
  overflow: visible;
}

pre.papyrus[data-papyrus='editor']
  > code[class*='language-']
  > div.line-numbers {
  //height: 100% !important;
}

.language-bash,
.language-treeview {
  padding: 15px !important;
}

.rd-2 {
  border-radius: 0.4em !important;
  margin-bottom: $spacer-4 !important;
}

:not(pre) > code {
  padding: 0.2em 0.6em 0.3em;
  font-size: 0.7rem;
  font-weight: 300;
  font-family: $papyrus-font-family;
  color: #e7e5e5;
  border-radius: 0.2rem;
  background-color: #22272d;
  letter-spacing: 0.05em;
}

.editor-output {
  background-color: $code-bg;
  border-bottom: 1px solid $black;
  text-align: center;
  color: $code-bg;
  font-weight: 900;
  font-size: 1em;
  padding: 3px 14px;
  margin: 0 1.2rem 0px 0;
  margin-bottom: -3px;
  position: relative;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 9;
}

.swing {
  transform-origin: center;
  animation: swing 4s ease infinite;
}
@keyframes swing {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-1px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(4px);
  }
}

@keyframes flip {
  0%,
  100% {
    transform: rotateY(180deg) translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotateY(180deg) translateX(-4px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: rotateY(180deg) translateX(1px);
  }
}

.editor-tabs,
.output-panel {
  font-family: $font-family-heading;
  font-weight: 600;
  font-size: 1rem;
  padding: 7px;
  border-top-left-radius: var(--papyrus-code-border-radius);
  border-top-right-radius: var(--papyrus-code-border-radius);
  border: 0.01em solid #363d49;
  border-bottom: none;

  .output-inner {
    background-color: #25272c;
    padding: 5px 20px 5px 40px;
    border-radius: var(--papyrus-code-border-radius);
    background-image: url(icon-output(#65696f, 2));
    background-size: 17px;
    background-position: 12px center;
    background-repeat: no-repeat;
  }

  button {
    background-color: $code-bg;
    color: $white;
    //text-shadow: 0 1px rgb(0 0 0 / 30%);
    font-size: 0.7rem;
    opacity: 0.35;
    padding: 5px 20px;
    margin: 0;
    border-top-left-radius: var(--papyrus-code-border-radius);
    border-top-right-radius: var(--papyrus-code-border-radius);
    text-transform: uppercase;
    border: 0.01em solid var(--papyrus-line-fence-color);
    border-bottom: none;

    &:hover {
      opacity: 1;
      color: $white;
    }

    &.selected {
      color: $gray-300;
      opacity: 1;
    }
  }
}

.editor-tabs {
  background-color: #12161d;
  color: #65696f;
}

.output-panel {
  background-color: $code-bg;
  color: #65696f;
}

.editor-word-wrap {
  position: absolute;
  z-index: 999;
  top: 0;
  bottom: 0;
  display: flex;
  height: 100%;
  width: 92.8%;
  margin-left: -5px;
}

.editor-wrap-line {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 999;
  border-right: $border-width solid $pink;

  &:hover {
    border-width: 1.5px;
    border-color: $pink;
    cursor: ew-resize;
  }
}

.editor-edit {
  position: absolute;
  z-index: 999;
  width: auto;
  height: auto;
  top: 45px;
  right: 50px;
  padding: 0;

  button {
    padding: 0;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(icon-edit($gray-600));
    opacity: 0.19;

    &:hover {
      opacity: 1;
      color: $white;
    }

    &.enabled {
      color: $gray-300;
      opacity: 1;
    }
  }
}

/* stylelint-disable color-function-notation */

code {
  &.papyrus-inline {
    padding: 0.1em;
    white-space: normal;
    background: var(--papyrus-code-inline-bg);
    border-radius: 0.3em;
  }
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

/* -------------------------------------------- */
/* EDITOR                                       */
/* -------------------------------------------- */

pre.papyrus {
  position: relative !important;
  width: var(--papyrus-width);
  height: auto;
  padding: 0;
  overflow: hidden;
  font-size: var(--papyrus-font-size-root);
  background-color: var(--papyrus-code-bg);
  border: 1px solid var(--papyrus-code-bg);
  border-radius: var(--papyrus-code-border-radius);

  *::selection {
    text-shadow: none;
    background-color: rgba(
      var(--papyrus-selection-bg),
      var(--papyrus-selection-alpha)
    );
  }

  /* STATIC MODE -------------------------------- */

  &[data-papyrus='static'] > code[class*='language-'] {
    position: relative;
  }

  /* EDITOR MODE -------------------------------- */

  &[data-papyrus='static'],
  &[data-papyrus='editor'] {
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(-1 * var(--papyrus-fence-offset, 0));
      display: block;
      width: var(--papyrus-line-number-width);
      height: 100%;
      border-right: var(--papyrus-line-fence-width) solid
        var(--papyrus-line-fence-color);
      content: '';
    }

    > code[class*='language-'] {
      overflow: hidden;
    }
  }

  /* ERROR MESSAGE ------------------------------ */

  &.error {
    padding: calc(var(--papyrus-code-padding-x) * 3) !important;

    &::before {
      display: none !important;
    }

    textarea.papyrus-editor,
    code[class*='language-'] {
      display: none !important;
    }
  }

  .error {
    &-title,
    &-message,
    &-stack {
      display: block;
      color: #ffffff;
    }

    &-title {
      font-weight: 600;
    }

    &-message {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &-stack {
      margin-top: 20px;
      color: #808080;
    }

    &-heading {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      margin-bottom: 0;
      padding: 5px;
      color: #ffffff;
      font-weight: 600;
      font-size: x-small;
      text-align: center;
      text-transform: uppercase;
      background-color: #f55968;
    }
  }

  /* CODE ELEMENT ------------------------------- */

  textarea.papyrus-editor {
    color: transparent !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    resize: none !important;
    caret-color: var(--papyrus-code-caret-color);
  }

  code[class*='language-'] {
    color: var(--papyrus-code-color);
    line-height: var(--papyrus-line-height);

    &::after {
      position: sticky;
      top: 0;
      right: 0;
      display: none;
      float: right;
      padding-right: 10px;
      color: var(--papyrus-line-number-color);
      font-size: 0.8em;
      text-align: right;
      content: attr(aria-label);
    }

    &.line-numbers,
    &.line-numbers + textarea.papyrus-editor {
      padding-left: calc(
        var(--papyrus-line-number-width) +
          var(--papyrus-code-padding-x)
      );
    }

    > .papyrus-loc {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    /* -------------------------------------------- */
    /* LINE NUMBERS                                 */
    /* -------------------------------------------- */

    > div.line-numbers {
      position: absolute;
      top: var(--papyrus-code-padding-y);
      bottom: var(--papyrus-code-padding-y);
      left: 0;
      z-index: 200;
      display: block;
      width: 100%; // 3.2em; /* works for line-numbers below 1000 lines */
      height: 100%;
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
      user-select: none;
      pointer-events: none;

      span.ln {
        z-index: 100;
        display: flex;
        padding-left: calc(var(--papyrus-line-number-width) / 5);
        line-height: var(--papyrus-line-height);
        counter-increment: linenumber;

        &.active {
          background-color: rgba(
            var(--papyrus-line-highlight-bg),
            var(--papyrus-line-highlight-alpha)
          );

          &::before {
            color: var(--papyrus-line-highlight-number);
          }
        }

        &::before {
          display: block;
          width: calc(var(--papyrus-line-number-width) / 2);
          color: var(--papyrus-line-number-color);
          text-align: right;
          content: counter(linenumber);
        }
      }
    }
  }

  textarea.papyrus-editor,
  code[class*='language-'] {
    position: absolute;
    z-index: 100;
    display: block;
    width: 100%;
    height: 100%;
    max-height: var(--papyrus-height);
    margin: 0;
    padding: var(--papyrus-code-padding-y)
      calc(var(--papyrus-code-padding-x));
    overflow: auto;
    color: var(--papyrus-code-color);
    font-size: var(--papyrus-font-size);
    font-family: var(--papyrus-font-family);
    line-height: var(--papyrus-line-height);
    white-space: pre;
    text-align: left;
    word-wrap: normal;
    word-break: normal;
    word-spacing: normal;
    tab-size: 2;
    hyphens: none;
    inset: 0;
    caret-color: var(--papyrus-code-caret-color);

    &::-webkit-scrollbar {
      width: var(--papyrus-scrollbar-width);
      height: var(--papyrus-scrollbar-width);
    }

    &::-webkit-scrollbar-track {
      background: var(--papyrus-scrollbar-track);
    }

    &::-webkit-scrollbar-thumb:vertical {
      border-top: var(--papyrus-scrollbar-padding) solid
        var(--papyrus-code-bg);
      border-bottom: var(--papyrus-scrollbar-padding) solid
        var(--papyrus-code-bg);
      border-radius: var(--papyrus-code-border-radius);
    }

    &::-webkit-scrollbar-thumb:horizontal {
      border-right: var(--papyrus-scrollbar-padding) solid
        var(--papyrus-code-bg);
      border-left: var(--papyrus-scrollbar-padding) solid
        var(--papyrus-code-bg);
      border-radius: var(--papyrus-code-border-radius);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--papyrus-scrollbar-thumb);

      &:hover {
        background: var(--papyrus-scrollbar-thumb-hover);
      }
    }

    &::-webkit-scrollbar-corner {
      background: transparent;
    }
  }
}

/* -------------------------------------------- */
/* BLOCKS                                       */
/* -------------------------------------------- */

:not(pre) > code[class*='language-'] {
  width: 100%;
  padding: 0.1em;
  white-space: normal;
  background: var(--papyrus-code-bg);
  border-radius: 0.3em;
}

/* -------------------------------------------- */
/* LINE NUMBERS                                 */
/* -------------------------------------------- */

.token {
  /* -------------------------------------------- */
  /* INVISIBLES                                   */
  /* -------------------------------------------- */

  &.tab:not(:empty),
  &.cr,
  &.lf,
  &.space {
    position: relative;
  }

  &.tab:not(:empty)::before,
  &.cr::before,
  &.lf::before,
  &.space::before {
    position: absolute;
    opacity: 1;
  }

  &.tab:not(:empty)::before {
    color: var(--papyrus-invisible-tab-color);
    content: '\21E5';
  }

  &.cr::before {
    color: var(--papyrus-invisible-cr-color);
    content: '\240D';
  }

  &.crlf::before {
    color: var(--papyrus-invisible-crlf-color);
    content: '\240D\240A';
  }

  &.lf::before {
    color: var(--papyrus-invisible-lf-color);
    content: '\240A';
  }

  &.space::before {
    color: var(--papyrus-invisible-space-color);
    content: '\00B7';
  }
}
