$code-font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
  monospace;

.papyrus {
  //border: 0.01em solid #363d49;
  margin-bottom: 0 !important;

  .error-footer {
    top: 0;
    bottom: unset;
  }

  .error-title {
    font-size: var(--papyrus-font-size);
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .error-message {
    white-space: normal;
    color: #888;
  }
}

a {
  &:hover {
    code {
      color: $gray-500;
    }
  }
}

.language-bash,
.language-treeview {
  padding: 20px !important;
}

.papyrus {
  overflow: visible;
}
pre.papyrus[data-papyrus='editor']
  > code[class*='language-']
  > div.line-numbers {
  height: 100%;
}

.language-bash,
.language-treeview {
  padding: 15px !important;
}

.rd-2 {
  border-radius: 0.4em !important;
  margin-bottom: $spacer-4 !important;
}

:not(pre) > code {
  padding: 0.2em 0.6em 0.3em;
  font-size: 0.7rem;
  font-weight: 300;
  font-family: $papyrus-font-family;
  color: #e7e5e5;
  border-radius: 0.2rem;
  background-color: #22272d;
  letter-spacing: 0.05em;
}

.editor-output {
  background-color: $code-bg;
  border-bottom: 1px solid $black;
  text-align: center;
  color: $code-bg;
  font-weight: 900;
  font-size: 1em;
  padding: 3px 14px;
  margin: 0 1.2rem 0px 0;
  margin-bottom: -3px;
  position: relative;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 9;
}

.swing {
  transform-origin: center;
  animation: swing 4s ease infinite;
}
@keyframes swing {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-1px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(4px);
  }
}

@keyframes flip {
  0%,
  100% {
    transform: rotateY(180deg) translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotateY(180deg) translateX(-4px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: rotateY(180deg) translateX(1px);
  }
}

.editor-tabs,
.output-panel {
  font-family: $font-family-heading;
  font-weight: 600;
  font-size: 1rem;
  padding: 7px;
  border-top-left-radius: var(--papyrus-code-border-radius);
  border-top-right-radius: var(--papyrus-code-border-radius);
  border: 0.01em solid #363d49;
  border-bottom: none;

  .output-inner {
    background-color: #25272c;
    padding: 5px 20px 5px 40px;
    border-radius: var(--papyrus-code-border-radius);
    background-image: url(icon-output(#65696f, 2));
    background-size: 17px;
    background-position: 12px center;
    background-repeat: no-repeat;
  }

  button {
    background-color: $code-bg;
    color: $white;
    //text-shadow: 0 1px rgb(0 0 0 / 30%);
    font-size: 0.7rem;
    opacity: 0.35;
    padding: 5px 20px;
    margin: 0;
    border-top-left-radius: var(--papyrus-code-border-radius);
    border-top-right-radius: var(--papyrus-code-border-radius);
    text-transform: uppercase;
    border: 0.01em solid var(--papyrus-line-fence-color);
    border-bottom: none;

    &:hover {
      opacity: 1;
      color: $white;
    }

    &.selected {
      color: $gray-300;
      opacity: 1;
    }
  }
}

.editor-tabs {
  background-color: #12161d;
  color: #65696f;
}

.output-panel {
  background-color: $code-bg;
  color: #65696f;
}

.editor-word-wrap {
  position: absolute;
  z-index: 999;
  top: 0;
  bottom: 0;
  display: flex;
  height: 100%;
  width: 92.8%;
  margin-left: -5px;
}

.editor-wrap-line {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 999;
  border-right: $border-width solid $pink;

  &:hover {
    border-width: 1.5px;
    border-color: $pink;
    cursor: ew-resize;
  }
}

.editor-edit {
  position: absolute;
  z-index: 999;
  width: auto;
  height: auto;
  top: 45px;
  right: 50px;
  padding: 0;

  button {
    padding: 0;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(icon-edit($gray-600));
    opacity: 0.19;

    &:hover {
      opacity: 1;
      color: $white;
    }

    &.enabled {
      color: $gray-300;
      opacity: 1;
    }
  }
}
