header {
  position: fixed;
  //background-color: $white;
  z-index: 999999;
  display: flex;
  background-color: $body-bg;

  right: 0;
  height: 62px;
  font-size: 1.075rem;
  //letter-spacing: 00.06rem;
  //box-shadow: $box-shadow;

  //background-color: rgb(15 15 15 / 56.2%);

  // backdrop-filter: blur(15px);
}

.navbar {
  width: 100%;
  // margin-right:  33.3%;

  .drawer-toggle {
    background-image: url(icon-menu($body-color));
    background-repeat: no-repeat;
    background-position: center;
  }

  .e {
    @include media-breakpoint-down(sm) {
      color: $pink !important;
    }
  }
  .icon-github {
    width: 20px;
    height: 20px;
    color: $white;
  }

  .icon-npm {
    width: 44px;
    height: 44px;
    color: $gray-400;
  }

  .off {
    color: $gray-300;
  }

  .dropdown {
    z-index: 9999999;

    > .btn {
      padding: 3px 25px 3px 10px;
      text-transform: none;
      font-size: $font-size-base * 0.625;
      border-color: $accordion-border-color;
      border-radius: 5px;
      background-image: url(icon-arrow($white));
    }

    ul > li {
      padding: 5px;
      list-style-type: none;
      text-align: center;

      &:hover {
        background-color: transparent;
      }

      > a {
        font-size: $font-size-base * 0.625;
        margin-right: 0;
        color: $white;

        &:hover {
          color: $pink;
        }

        &::before {
          content: '';
          margin-right: 7px;
        }
      }
    }
  }

  a {
    font-weight: 400;
    color: $pink;
    margin-right: 15px;

    &.nav-link {
      font-family: $font-family-other;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 0.9rem;
      letter-spacing: 0.03rem;
    }

    &.mr {
      margin-right: 0;
    }

    .icon-logo {
      width: 140px;
      height: 17px;
    }
  }
}
