p + h1,
ul + h1,
pre + h1 {
  margin-top: 40px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  margin-top: 20px;
  margin-bottom: 20px;

  + p {
    margin-bottom: 20px;
  }

  // text-transform: uppercase;

  &:focus-visible {
    display: inline-block;
    padding-top: 75px;
    padding-right: 75px;
    color: $gray-600;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#6c757d' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' ><circle cx='12' cy='5' r='3'></circle><line x1='12' y1='22' x2='12' y2='8'></line><path d='M5 12H2a10 10 0 0 0 20 0h-3'></path></svg>");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 65px;
    background-size: 20px;
    outline: none;
  }
}

pre + h4 {
  margin-top: 40px;
}

h5 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: $font-family-other;
}

.rule-title {
  h4 {
    font-family: $font-family-other;
    font-size: $h5-font-size;
    text-transform: lowercase;
    // background-color: $code-inline-bg;
    padding: 5px 8px;
    width: fit-content;
    // border-radius: 5px;
    font-weight: 600;
    margin-top: 0px;
  }
  h5 {
    margin-top: 0;
  }
}
hr {
  margin: 40px 0 !important;
  padding: 0 20px;
}

blockquote {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
  padding-left: 65px !important;
  background-image: url(icon-info($gray-600));
  background-repeat: no-repeat no-repeat;
  background-position: 25px center;
  background-size: 2%;
  background-color: $code-bg;
  border: $border-width $border-color solid;
  border-radius: 0.5rem;
  position: relative;

  > p code {
    //background: #363f4e;
    // color: #a176ff;
    //background-color: $code-bg;

    font-weight: 200;

    -webkit-font-smoothing: antialiased;
  }

  &.note {
    background-image: url(icon-info($gray-600));
    background-repeat: no-repeat no-repeat;
    background-position: 25px center;
    background-size: 2.5%;
    padding: 15px;
    padding-right: 20px;
    padding-left: 65px;

    > p {
      margin-left: 65px;
      width: 100% !important;
    }
  }

  > p {
    margin: 0;
    width: 100% !important;
    color: $body-color;
    font-size: $font-size-base;
    letter-spacing: 0.03rem;
    font-family: $font-family-base;
    font-weight: 200;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.p-100 {
  p {
    width: 100% !important;
  }

  blockquote {
    width: 100% !important;
  }
}

[data-tooltip] {
  &:after {
    text-transform: none;
  }
}

ul {
  margin-bottom: 20px;
}
p {
  a {
    color: #6eb2d3;
    font-weight: 500;

    &:hover {
      color: $white;
    }
  }
}
.content-rules {
  p {
    width: 50%;

    a {
      color: #6eb2d3;
      font-weight: 500;

      &:hover {
        color: $white;
      }
    }
  }

  p {
    blockquote {
      width: 100%;
    }
  }
}

table {
  width: 100%;
  margin: 30px 0;

  tr {
    border-bottom: $border-width solid #3d4956;
    line-height: 2.2;
  }
}

.navigators {
  padding-top: 10px;

  .btn {
    text-transform: none;
    color: $white;
    font-size: $font-size-md;
    display: inline-flex;
    align-items: center;

    span {
      color: $pink;

      > .icon {
        width: 24px;
        height: 24px;
        display: inline-flex;
      }
    }

    &.next {
      color: $pink;

      &:hover {
        span {
          color: $pink;
        }
      }
      span {
        color: $white;
      }
    }

    &:hover {
      color: $pink;
    }
  }
}

.rule-example {
  margin-top: 35px;
}

.e-1,
.e-2 {
  fill: transparent;
  transition: fill 0.5s linear;
}

.papyrus > pre > code {
  padding: 1em;
}

.rule-description {
  p {
    width: 100% !important;
  }

  blockquote {
    width: 100% !important;
  }
}

.rule-sidebar {
  p {
    width: 100% !important;
  }

  blockquote {
    width: 100% !important;
  }
}

/* -------------------------------------------- */
/* RANGES                                       */
/* -------------------------------------------- */

.fm-range {
  &.wrap-fraction {
    &::-webkit-slider-thumb {
      background-color: #4cb3e6;
    }
  }
}

.icon-process {
  width: 100%;
  height: 450px;
  margin: 0 auto;
  text-align: center;
  margin: 40px 20px 40px 0;
}
