.bg-glass {
  background: rgba(15, 18, 21, 0.8);
  border-radius: 0px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(15, 18, 21, 0.86);
}

.no-font-smoothing {
  -webkit-font-smoothing: revert;
}
.spinner {
  display: block;
  width: 3rem;
  height: 3rem;
  vertical-align: -0.125em;
  border: 0.4rem solid #1f2126;
  border-right-color: #e45589;
  border-radius: 50%;
  animation: 0.65s linear infinite spin;
}

.icon-moloko {
  margin-top: -50px;
  margin-left: -85px;
}

.playground {
  .sidebar-options {
    margin-top: 52px;
    width: 70px;
    min-width: 70px;
    height: 100vh;
    z-index: 250;
    background-color: #14171b;
    border-right: 0.01rem solid hwb(0 40% 60%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .btn-sidebar {
      padding-top: 15px;
      margin: 15px auto;
      text-align: center;

      &:hover {
        color: $pink;
      }

      &.active {
        .icon {
          color: $pink;
        }
      }

      .icon {
        width: 25px;
        height: 25px;
      }
    }
  }

  &-rules {
    //background-color: $body-bg;
    //background-color: #14171b;
    width: 50%;
    height: 100%;
    display: block;
    position: absolute;
    border-right: 0.01rem solid rgb(102, 102, 102);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%);
    transition: transform 0.2s linear;
    overflow-y: scroll;

    .list-lined > li {
      &.active {
        background-color: #14171b;
      }
    }

    &.active {
      z-index: 200;
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      transition: transform 0.2s linear;

      &.close {
        transform: translateX(-100%);
        transition: transform 0.2s linear;
      }
    }
  }

  .code-editor {
    position: relative;
    height: 95%;
  }
}

.rule-options {
  //background-color: #14171b;
  //background-color: $body-bg;

  .code-badge {
    background-color: $body-bg;
    // color: #6eb2d3;
  }

  .fs-name {
    font-size: 0.9rem;
    font-weight: 100;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
      monospace;
    border-top: #14171b solid 1px;
    padding-top: 15px;
    //color: #6eb2d3;
  }

  .boolean {
    padding: 8px 15px 8px 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover,
    &.enabled {
      .icon {
        color: $white;
      }
    }

    .icon {
      display: flex;
      width: 25px;
      height: 25px;
      color: $gray-600;
    }
  }

  .string {
    padding: 8px 15px 8px 0;

    .input {
      width: 25px;
      height: 17px;
      padding: 0;
      color: $white;
      font-size: $font-size-xs;
      background-color: transparent;
      border: 0;
      border-bottom: 0.05rem solid $gray-500;

      &:focus {
        outline: none;
      }
    }
  }

  .array {
    padding: 8px 10px;

    .icon {
      display: flex;
      width: 20px;
      height: 20px;
      color: $gray-600;
    }

    .array-item {
      position: relative;
      width: 97%;

      .btn-remove {
        display: none;
        padding: 0;
        padding-left: 5px;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover {
          .icon {
            color: $white;
          }
        }

        .icon {
          display: block;
          width: 17px;
          height: 17px;
        }
      }

      &:hover {
        .btn-remove {
          display: flex;
          align-items: center;
        }
      }
    }

    .btn-add {
      position: relative;
      display: block;
      width: 97%;
      height: 32px;
      border-bottom: 0.05rem solid $white;

      .next-no {
        width: 20px;
        color: $gray-600;
      }

      .button {
        position: absolute;
        right: 0;
        bottom: 7px;
        display: block;
        width: 22px;
        height: 22px;
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;

          &:hover {
            color: $gray-600;
          }
        }

        .icon {
          display: block;
          width: 22px;
          height: 22px;
        }

        &:hover {
          .icon {
            color: $white;
          }
        }
      }

      &:hover {
        color: $white;
      }
    }

    .input {
      position: absolute;
      bottom: 7px;
      left: 32px;
      width: 80%;
      height: auto;
      padding: 1px 7px;
      color: $white;
      font-size: $font-size-sm;
      font-family: $font-family-code;
      background-color: transparent;
      border: 0;

      //border-bottom: 0.05rem solid $gray-500;

      &:focus {
        outline: none;
      }
    }
  }

  .number {
    padding: 8px 10px 8px 0;

    .input {
      width: 45px;
      height: 20px;
      padding: 0 0 0 4px;
      color: $white;
      font-size: $font-size-sm;
      text-align: center;
      background-color: transparent;
      border: 0;
      border-bottom: 0.05rem solid $gray-500;

      &:focus {
        outline: none;
      }
    }
  }

  .select {
    padding: 8px 10px;

    .icon {
      display: flex;
      width: 20px;
      height: 20px;
      color: $gray-600;
    }
  }
}
