.sidebar {
  // background-color: #fff;
  background-color: $body-bg;
  border-right: $border-width solid $accordion-border-color;
  margin-top: 62px;
  @include media-breakpoint-up(md) {
    position: fixed;
    margin-top: 62px;
    width: 270px;
    height: 100vh;
    display: block !important;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
  //left: 0;

  // border-color: $cyan;

  ul > li {
    list-style-type: none;

    a {
      font-size: 1rem;
      text-decoration: none;
    }
  }
}

.content {
  @include media-breakpoint-up(md) {
    padding-left: 335px !important;
  }
}

.anchors {
  // background-color: #fff;

  margin-top: 52px;
  width: 350px;
  height: 100vh;

  //left: 0;
}
