.sidebar {
  // background-color: #fff;

  @include media-breakpoint-up(md) {
    position: fixed;
    margin-top: 72px;
    width: 270px;
    height: 100vh;
    display: block !important;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    background-color: $code-bg; // $body-bg;
    border-top-right-radius: 10px;
    border: none;
  }
  //left: 0;

  // border-color: $cyan;

  ul > li {
    list-style-type: none;

    a {
      font-size: 1rem;
      text-decoration: none;
    }
  }
}

.content {
  @include media-breakpoint-up(md) {
    padding-left: 335px !important;
  }
}

.anchors {
  // background-color: #fff;

  margin-top: 52px;
  width: 350px;
  height: 100vh;

  //left: 0;
}
