/* stylelint-disable color-function-notation */
/* stylelint-disable color-function-notation */

:root {
  /* -------------------------------------------- */
  /* BASE VARIABLES                               */
  /* -------------------------------------------- */

  // FONT FAMILY
  --papyrus-font-size-root: #{$papyrus-font-size-root};
  --papyrus-font-size: #{$papyrus-font-size};
  --papyrus-font-family: #{$papyrus-font-family};
  --papyrus-line-height: #{$papyrus-line-height};

  // EDITOR SIZING
  --papyrus-height: #{$papyrus-height};
  --papyrus-width: #{$papyrus-width};

  // SELECTION
  --papyrus-selection-bg: #{$papyrus-selection-bg};
  --papyrus-selection-alpha: #{$papyrus-selection-alpha};

  // CODE REGION
  --papyrus-code-color: #{$papyrus-code-color};
  --papyrus-code-padding-y: #{$papyrus-code-padding-y};
  --papyrus-code-padding-x: #{$papyrus-code-padding-x};
  --papyrus-code-bg: #{$papyrus-code-bg};
  --papyrus-code-inline-bg: #{$papyrus-code-inline-bg};
  --papyrus-code-border-radius: #{$papyrus-code-border-radius};
  --papyrus-code-caret-color: #{$papyrus-code-caret-color};

  // SCROLLBAR
  --papyrus-scrollbar-width: #{$papyrus-scrollbar-width};
  --papyrus-scrollbar-track: #{$papyrus-scrollbar-track};
  --papyrus-scrollbar-bg: #{$papyrus-scrollbar-bg};
  --papyrus-scrollbar-thumb: #{$papyrus-scrollbar-thumb};

  // INVISIBLE CHARACTERS
  --papyrus-invisible-space-color: #{$papyrus-invisible-space-color};
  --papyrus-invisible-tab-color: #{$papyrus-invisible-tab-color};
  --papyrus-invisible-lf-color: #{$papyrus-invisible-lf-color};
  --papyrus-invisible-cr-color: #{$papyrus-invisible-cr-color};
  --papyrus-invisible-crlf-color: #{$papyrus-invisible-crlf-color};

  // LINE NUMBERS
  --papyrus-line-number-width: #{$papyrus-line-number-width};
  --papyrus-line-number-color: #{$papyrus-line-number-color};
  --papyrus-line-fence-color: #{$papyrus-line-fence-color};
  --papyrus-line-fence-width: #{$papyrus-line-fence-width};
  --papyrus-line-scroll-left: #{$papyrus-line-scroll-left};

  // LINE HIGHLIGHT
  --papyrus-line-highlight-alpha: #{$papyrus-line-highlight-alpha};
  --papyrus-line-highlight-bg: #{$papyrus-line-highlight-bg};
  --papyrus-line-highlight-number: #{$papyrus-line-highlight-number};

  /* -------------------------------------------- */
  /* XML LANGUAGE                                */
  /* -------------------------------------------- */

  --papyrus-xml-prolog: #{$papyrus-xml-prolog};
  --papyrus-xml-name: #{$papyrus-xml-name};
  --papyrus-xml-prefix: #{$papyrus-xml-prefix};
  --papyrus-xml-comment: #{$papyrus-xml-comment};
  --papyrus-xml-delimiter: #{$papyrus-xml-delimiter};
  --papyrus-xml-tag-name: #{$papyrus-xml-tag-name};
  --papyrus-xml-equals: #{$papyrus-xml-equals};
  --papyrus-xml-attr-name: #{$papyrus-xml-attr-name};
  --papyrus-xml-attr-value: #{$papyrus-xml-attr-value};

  /* -------------------------------------------- */
  /* HTML LANGUAGE                                */
  /* -------------------------------------------- */

  --papyrus-html-text-content: #{$papyrus-html-text-content};
  --papyrus-html-doctype: #{$papyrus-html-doctype};
  --papyrus-html-delimiter: #{$papyrus-html-delimiter};
  --papyrus-html-tag-name: #{$papyrus-html-tag-name};
  --papyrus-html-equals: #{$papyrus-html-equals};
  --papyrus-html-attr-name: #{$papyrus-html-attr-name};
  --papyrus-html-attr-value: #{$papyrus-html-attr-value};
  --papyrus-html-comment: #{$papyrus-html-comment};

  /* -------------------------------------------- */
  /* LIQUID LANGUAGE                              */
  /* -------------------------------------------- */

  --papyrus-liquid-fallback: #{$papyrus-liquid-fallback};
  --papyrus-liquid-delimiters: #{$papyrus-liquid-delimiters};
  --papyrus-liquid-tag: #{$papyrus-liquid-tag};
  --papyrus-liquid-output: #{$papyrus-liquid-output};
  --papyrus-liquid-boolean: #{$papyrus-liquid-boolean};
  --papyrus-liquid-number: #{$papyrus-liquid-number};
  --papyrus-liquid-punctuation: #{$papyrus-liquid-punctuation};
  --papyrus-liquid-operator: #{$papyrus-liquid-operator};
  --papyrus-liquid-parameter: #{$papyrus-liquid-parameter};
  --papyrus-liquid-object-name: #{$papyrus-liquid-object-name};
  --papyrus-liquid-object-prop: #{$papyrus-liquid-object-prop};
  --papyrus-liquid-filter-name: #{$papyrus-liquid-filter-name};
  --papyrus-liquid-string: #{$papyrus-liquid-string};
  --papyrus-liquid-comment: #{$papyrus-liquid-comment};
  --papyrus-liquid-string-delimiters: #{$papyrus-liquid-string-delimiters};
  --papyrus-liquid-string-object-name: #{$papyrus-liquid-string-object-name};

  /* -------------------------------------------- */
  /* CSS LANGUAGE                                 */
  /* -------------------------------------------- */

  --papyrus-css-selector: #{$papyrus-css-selector};
  --papyrus-css-tag-selector: #{$papyrus-css-tag-selector};
  --papyrus-css-colon: #{$papyrus-css-colon};
  --papyrus-css-function: #{$papyrus-css-function};
  --papyrus-css-variable: #{$papyrus-css-variable};
  --papyrus-css-operator: #{$papyrus-css-operator};
  --papyrus-css-punctuation: #{$papyrus-css-punctuation};
  --papyrus-css-important: #{$papyrus-css-important};
  --papyrus-css-atrule: #{$papyrus-css-atrule};
  --papyrus-css-property: #{$papyrus-css-property};
  --papyrus-css-property-value: #{$papyrus-css-property-value};
  --papyrus-css-number: #{$papyrus-css-number};
  --papyrus-css-hexcode: #{$papyrus-css-hexcode};
  --papyrus-css-combinator: #{$papyrus-css-combinator};
  --papyrus-css-unit: #{$papyrus-css-unit};
  --papyrus-css-attr-name: #{$papyrus-css-attr-name};
  --papyrus-css-attr-value: #{$papyrus-css-attr-value};
  --papyrus-css-attr-punctuation: #{$papyrus-css-attr-punctuation};
  --papyrus-css-pseudo-element: #{$papyrus-css-pseudo-element};

  /* -------------------------------------------- */
  /* JSON LANGUAGE                                */
  /* -------------------------------------------- */

  --papyrus-json-punctuation: #{$papyrus-json-punctuation};
  --papyrus-json-property: #{$papyrus-json-property};
  --papyrus-json-string: #{$papyrus-json-string};
  --papyrus-json-boolean: #{$papyrus-json-boolean};
  --papyrus-json-number: #{$papyrus-json-number};
  --papyrus-json-operator: #{$papyrus-json-operator};

  /* -------------------------------------------- */
  /* JAVASCRIPT LANGUAGE                          */
  /* -------------------------------------------- */

  --papyrus-js-fallback: #{$papyrus-js-fallback};
  --papyrus-js-keyword: #{$papyrus-js-keyword};
  --papyrus-js-function: #{$papyrus-js-function};
  --papyrus-js-class-name: #{$papyrus-js-class-name};
  --papyrus-js-function-name: #{$papyrus-js-function-name};
  --papyrus-js-punctuation: #{$papyrus-js-punctuation};
  --papyrus-js-special-chars: #{$papyrus-js-special-chars};
  --papyrus-js-parameter: #{$papyrus-js-parameter};
  --papyrus-js-variable: #{$papyrus-js-variable};
  --papyrus-js-operator: #{$papyrus-js-operator};
  --papyrus-js-operation: #{$papyrus-js-operation};
  --papyrus-js-module: #{$papyrus-js-module};
  --papyrus-js-semi: #{$papyrus-js-semi};
  --papyrus-js-flow: #{$papyrus-js-flow};
  --papyrus-js-number: #{$papyrus-js-number};
  --papyrus-js-boolean: #{$papyrus-js-boolean};
  --papyrus-js-string: #{$papyrus-js-string};
  --papyrus-js-regex: #{$papyrus-js-regex};
  --papyrus-js-regex-flags: #{$papyrus-js-regex-flags};
  --papyrus-js-literal-property: #{$papyrus-js-literal-property};
  --papyrus-js-comment: #{$papyrus-js-comment};

  /* -------------------------------------------- */
  /* TYPESCRIPT LANGUAGE                          */
  /* -------------------------------------------- */

  --papyrus-ts-fallback: #{$papyrus-ts-fallback};
  --papyrus-ts-types: #{$papyrus-ts-types};
  --papyrus-ts-boolean: #{$papyrus-ts-boolean};
  --papyrus-ts-number: #{$papyrus-ts-number};
  --papyrus-ts-operator: #{$papyrus-ts-operator};
  --papyrus-ts-parameter: #{$papyrus-ts-parameter};
  --papyrus-ts-method: #{$papyrus-ts-method};
  --papyrus-ts-function-name: #{$papyrus-ts-function-name};
  --papyrus-ts-filter-name: #{$papyrus-ts-filter-name};
  --papyrus-ts-string: #{$papyrus-ts-string};
  --papyrus-ts-comment: #{$papyrus-ts-comment};
}

code {
  &.inline {
    padding: 0.1em;
    white-space: normal;
    background: var(--papyrus-code-inline-bg);
    border-radius: 0.3em;
  }
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

/* -------------------------------------------- */
/* EDITOR                                       */
/* -------------------------------------------- */

pre.papyrus {
  position: relative !important;
  width: var(--papyrus-width);
  height: var(--papyrus-height);
  font-size: var(--papyrus-font-size-root);
  background-color: var(--papyrus-code-bg) !important;
  border-radius: var(--papyrus-code-border-radius);

  *::selection {
    text-shadow: none;
    background-color: rgba(
      var(--papyrus-selection-bg),
      var(--papyrus-selection-alpha)
    );
  }

  &.no-fence::before {
    border: none;
  }

  &.error {
    padding: calc(var(--papyrus-code-padding-x) * 3) !important;

    &::before {
      display: none !important;
    }

    textarea.editor,
    code[class*='language-'] {
      display: none !important;
    }
  }

  /* LINE FENCE --------------------------------- */

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--papyrus-line-number-width);
    display: block;
    height: 100%;
    background-color: var(--papyrus-code-bg);
    border-right: var(--papyrus-line-fence-width) solid
      var(--papyrus-line-fence-color);
    content: '';
  }

  code[class*='language-'] {
    position: relative;
    z-index: 100;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: var(--papyrus-code-padding-y)
      calc(var(--papyrus-code-padding-x));
    overflow: auto;
    color: var(--papyrus-code-color);
    font-size: var(--papyrus-font-size);
    font-family: var(--papyrus-font-family);
    line-height: var(--papyrus-line-height);
    white-space: pre;
    text-align: left;
    word-wrap: normal;
    word-break: normal;
    word-spacing: normal;
    tab-size: 2;
    hyphens: none;
    inset: 0;

    &.auto-height {
      position: relative !important;
      display: block;
    }

    /* SCROLLBARS --------------------------------- */

    &::-webkit-scrollbar-track {
      background-color: var(--papyrus-scrollbar-track);
    }

    &::-webkit-scrollbar {
      width: var(--papyrus-scrollbar-width);
      height: var(--papyrus-scrollbar-width);
      background-color: var(--papyrus-scrollbar-bg);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--papyrus-scrollbar-thumb);
    }

    &.lines {
      padding-left: calc(
        var(--papyrus-line-number-width) +
          var(--papyrus-code-padding-x)
      );
    }

    > .papyrus-loc-limit {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    /* -------------------------------------------- */
    /* LINE NUMBERS                                 */
    /* -------------------------------------------- */

    > .line-numbers {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 200;
      display: block;
      width: 100%; // 3.2em; /* works for line-numbers below 1000 lines */
      height: 100%;
      padding-top: var(--papyrus-code-padding-y);
      padding-bottom: var(--papyrus-code-padding-y);
      user-select: none;
      pointer-events: none;

      span.ln {
        z-index: 100;
        display: flex;
        padding-left: calc(var(--papyrus-line-number-width) / 5);
        line-height: var(--papyrus-line-height);
        counter-increment: linenumber;

        &.highlight {
          background-color: rgba(
            var(--papyrus-line-highlight-bg),
            var(--papyrus-line-highlight-alpha)
          );

          &::before {
            color: var(--papyrus-line-highlight-number);
          }
        }

        &::before {
          display: block;
          width: calc(var(--papyrus-line-number-width) / 2);
          color: var(--papyrus-line-number-color);
          text-align: right;
          content: counter(linenumber);
        }
      }
    }
  }
}

.error {
  .error-title,
  .error-message,
  .error-stack {
    display: block;
    color: #ffffff;
  }

  .error-title {
    font-weight: 600;
  }

  .error-message {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .error-stack {
    margin-top: 20px;
    color: #808080;
  }

  .error-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    padding: 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: x-small;
    text-align: center;
    text-transform: uppercase;
    background-color: #f55968;
  }
}

/* -------------------------------------------- */
/* BLOCKS                                       */
/* -------------------------------------------- */

:not(pre) > code[class*='language-'] {
  width: 100%;
  padding: 0.1em;
  white-space: normal;
  background: var(--papyrus-code-bg);
  border-radius: 0.3em;
}

/* -------------------------------------------- */
/* LINE NUMBERS                                 */
/* -------------------------------------------- */

.token {
  /* -------------------------------------------- */
  /* INVISIBLES                                   */
  /* -------------------------------------------- */

  &.tab:not(:empty),
  &.cr,
  &.lf,
  &.space {
    position: relative;
  }

  &.tab:not(:empty)::before,
  &.cr::before,
  &.lf::before,
  &.space::before {
    position: absolute;
    opacity: 1;
  }

  &.tab:not(:empty)::before {
    color: var(--papyrus-invisible-tab-color);
    content: '\21E5';
  }

  &.cr::before {
    color: var(--papyrus-invisible-cr-color);
    content: '\240D';
  }

  &.crlf::before {
    color: var(--papyrus-invisible-crlf-color);
    content: '\240D\240A';
  }

  &.lf::before {
    color: var(--papyrus-invisible-lf-color);
    content: '\240A';
  }

  &.space::before {
    color: var(--papyrus-invisible-space-color);
    content: '\00B7';
  }
}
